/* Reset some default styles to make it consistent across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a50b5e;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #6adcf7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text */
}

h1 {
    margin-bottom: 20px;
    color: #333333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="name"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

input[type="name"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
}

button {
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.text-container {
    text-align: center;
    margin-top: 20px;
    width: 200px; /* Set your desired width here */
    height: auto; /* Maintain aspect ratio */
}

.text {
    font-weight: bold;
    color: white;
    font-size: 38px;
    margin-left: 400px;
    margin-bottom:20px;
}
